<footer>
  <a href="/">設定</a>
  <a href="/">使い方</a>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  footer a {
    color: var(--text-color);
    text-decoration: none;
    margin: 1em auto;
  }
  footer a:hover {
    text-decoration: underline;
  }
</style>