<div class="logo-area">
  <svg
    id="fisea-logo"
    data-name="fisea-logo"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 737.09 239.9"
  >
    <defs>
      <style>
        .cls-1 {
          fill: var(--fisea-blue);
        }

        .cls-2 {
          fill: var(--fisea-black);
        }

        .cls-3,
        .cls-4 {
          fill: none;
        }

        .cls-5 {
          fill: var(--fisea-blue);
        }

        .cls-4 {
          stroke: var(--fisea-blue);
          stroke-miterlimit: 10;
          stroke-width: 4px;
        }
      </style>
    </defs>
    <g id="fisea-logo-path" data-name="fisea">
      <g>
        <path
          class="cls-3"
          d="M605.13,95.1c-25.5,0-41.1,21-41.1,48,0,8.37,1.47,16.09,4.24,22.77,19.45-5.49,42.42-8.97,71.45-8.97,2.1,0,4.17.02,6.21.06.99-4.41,1.51-9.15,1.51-14.16,0-27.9-16.5-47.7-42.3-47.7Z"
        ></path>
        <path
          class="cls-3"
          d="M436.26,92.1c-20.7,0-34.8,13.8-39.9,33.6h77.7c-3.6-20.4-16.2-33.6-37.8-33.6Z"
        ></path>
        <path
          class="cls-3"
          d="M568.27,165.87c6.26,15.12,19.18,24.93,36.86,24.93,21.47,0,36.22-13.4,40.79-33.84-2.04-.04-4.11-.06-6.21-.06-29.02,0-51.99,3.48-71.45,8.97Z"
        ></path>
        <g>
          <path
            class="cls-5"
            d="M64.78,157.35v64.05h33.9v-64.09c-5.31-.26-10.81-.41-16.58-.41s-11.79.16-17.32.45Z"
          ></path>
          <path
            class="cls-5"
            d="M166.92,221.4h34.2v-35.9c-10.54-5.62-21.66-10.9-34.2-15.36v51.27Z"
          ></path>
          <path
            class="cls-1"
            d="M645.92,156.96c-4.57,20.44-19.33,33.84-40.79,33.84-17.68,0-30.6-9.81-36.86-24.93-11.82,3.34-22.34,7.42-32.12,11.92,9.8,26.01,31.06,43.61,59.98,43.61,20.7,0,38.1-9,49.2-28.2l2.1.3c-.6,9,0,18.9,0,27.9h33v-61.89c-10.48-1.44-21.91-2.33-34.51-2.56Z"
          ></path>
        </g>
        <g>
          <path
            class="cls-2"
            d="M140.98,101.7v-30h-42.3v-11.4c0-20.1,10.2-30.3,26.7-30.3,5.4,0,10.2.3,15.9,2.1l1.2-29.1c-6.9-2.1-13.5-3-21.3-3-33.6,0-56.4,21-56.4,60.9v10.8h-23.4v30h23.4v55.65c5.53-.29,11.29-.45,17.32-.45s11.27.15,16.58.41v-55.62h42.3Z"
          ></path>
          <path
            class="cls-2"
            d="M166.92,71.7v98.43c12.54,4.47,23.66,9.75,34.2,15.36v-113.8h-34.2Z"
          ></path>
          <path
            class="cls-2"
            d="M184.02,52.5c12.6,0,21.6-8.4,21.6-20.4s-9-20.7-21.6-20.7-21.6,8.4-21.6,20.7,9,20.4,21.6,20.4Z"
          ></path>
          <path
            class="cls-2"
            d="M340.38,173.4c0-30.9-23.4-39.9-48.6-46.8-14.1-3.9-25.8-7.2-25.8-18.6,0-10.8,9-17.4,22.2-17.4,10.2,0,18.9,4.8,26.4,14.1l22.5-21.3c-12.6-14.1-29.1-21-48.6-21-30,0-54,17.7-54,46.2s23.4,40.2,48,47.1c14.1,3.6,26.4,7.2,26.4,19.2s-9.9,18-23.7,18-25.2-6.9-34.5-18.3l-23.4,21c3.33,4.09,7.14,7.75,11.33,10.95,7.86,4.28,16,8.4,24.77,12.15,6.48,1.77,13.3,2.7,20.29,2.7,32.4,0,56.7-18.9,56.7-48Z"
          ></path>
          <path
            class="cls-2"
            d="M503.76,180l-28.8-13.8c-7.5,16.2-20.7,25.2-38.1,25.2-22.8,0-38.4-16.8-41.7-39.6h111c.3-4.5.6-8.4.6-12.9,0-46.5-25.8-76.5-70.5-76.5s-74.4,33.6-74.4,79.8,30,79.2,74.4,79.2c8.17,0,15.87-1.03,23.04-3.07,7.9-3.42,15.29-7.14,22.43-10.99,9.03-6.74,16.49-15.87,22.03-27.34ZM436.26,92.1c21.6,0,34.2,13.2,37.8,33.6h-77.7c5.1-19.8,19.2-33.6,39.9-33.6Z"
          ></path>
          <path
            class="cls-2"
            d="M564.03,143.1c0-27,15.6-48,41.1-48s42.3,19.8,42.3,47.7c0,5.01-.52,9.74-1.51,14.16,12.6.22,24.03,1.12,34.51,2.56v-91.42h-33.6c0,8.7,0,15.6.6,24l-2.1.3c-10.8-18.9-26.7-27.6-47.7-27.6-41.4,0-67.5,33.6-67.5,78.3,0,12.52,2.09,24.28,6.02,34.69,9.78-4.51,20.3-8.59,32.12-11.92-2.77-6.68-4.24-14.4-4.24-22.77Z"
          ></path>
        </g>
        <path
          class="cls-4"
          d="M736.31,175.71c-24.5-10.35-54.06-17.8-96.6-17.8-139.4,0-139.4,80-278.81,80-139.4,0-139.4-80-278.81-80-34.15,0-59.94,4.8-81.46,12.05"
        ></path>
      </g>
    </g>
  </svg>
</div>

<style>
  .logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  #fisea-logo {
    width: 75%;
    max-width: 20em;
    height: auto;
  }
</style>
